* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  -webkit-text-size-adjust: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}
a {
  color: #0066cc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bold;
}
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
}
button {
  font-family: inherit;
}
table {
  border-collapse: collapse;
}
